*.log
*.tar.gz
*.hdf5
*.h5
imported_figures/
*.zip
*.json
*.csv
*.dat
*.txt
*.png
*.jpg
*.SAC
*.pdf
*.cpt
*.ps
5jul*
event_archive*
real_postprocessing*
REAL*
PROGRAMS*
hyp*
gridsearch/output/*
gridsearch/*.npy
pssac_test/*
release/*

